
[flake8]

# E501 line too long (83 > 79 characters)
# F821 undefined name '_'

exclude = .git
max-line-length = 88
per-file-ignores =
    ./r.water.validate/r.water.validate.py:  E501, F821
    ./t.sentinel_1.watermasks/t.sentinel_1.watermasks.py:  E501, F821
    ./i.sentinel_1.water/i.sentinel_1.water.py:  E501, F821
    ./i.sentinel_1.water.worker/i.sentinel_1.water.worker.py:  E501, F821
